agm-map{
    height: 300px
    
}

.bg-style {
    background:lightblue;  
    margin:0 auto;
    height:17%;
    width: 17%;
    border-style: solid;
    border-width: .2em;
    background-color: green;
            }
ion-input {
	background-color: #F3F3F3;
	border: 1px solid #cecece;
	padding-left: 10px;
  width: 100px;
}

.searchbarinput {
    input{
       font-size: 120px !important;  
       width: 300%;
       position:relative;
    }
}

.class{
    width: 80%;
    margin: auto;
   }